* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 12px;
    color: #606060;
    font-family: 'Open Sans', sans-serif;
}

nav {
    text-align: right;
    padding: 30px 50px 0 0;
}

nav>a {
    color: rgb(19, 18, 18);
    font-weight: 300;
    font-size: 11px;
    text-decoration: none;
    margin-right: 40px;
}

.carrito {
    text-decoration: none;
    padding: 4px;
    font-weight: 100;
    font-size: 11px;
    color: #ffffff;
    background-color: #0d0d0e;
    border-radius: 4px;
    border: 2px solid #111111;
}

.camba {
    margin-left: 50px;
    margin-top: 10px;
    width: 200px;
    height: 60px;
    margin-right: 350px;
}

.portada {
    display: table;
    float: left;
}

.textos-header {
    width: 100%;
    height: 190px;
    background: #c5c4c5;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

main .textos-header>h1 {
    padding: 100px 0 4px 0;
    text-align: center;
    font-size: 16px;
    font-weight: Bold;
}

#hr1 {
    height: 1px;
    width: 20%;
    display: inline-block;
    background-color: blue;
}

.contenedor-footer {
    display: flex;
    width: 20%;
    justify-content: space-evenly;
    margin: auto;
    padding-top: 10px;
}

.content-foo {
    text-align: center;
}

.content-foo h4 {
    color: rgb(15, 15, 15);
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.content-foo p {
    color: #ccc;
}

.titulo-final {
    text-align: center;
    font-size: 14px;
    margin: 20px 0 0 0;
    color: #9e9797;
    padding-bottom: 10px;
}

.register {
    text-align: center;
}

.container {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.myform {
    width: 800px;
}

.div-body {
    padding: 15px;
    color: #666;
}

.div-body h2 {
    text-align: center;
    color: black;
    margin-bottom: 15px;
    font-size: 14px;
}

.horizontal .left input {
    margin-left: -35%;
    width: 30%;
    height: 25px;
    margin-bottom: 20px;
}

.horizontal .right textarea {
    width: 65%;
    height: 100px;
    margin-bottom: 20px;
}

.horizontal .right input {
    width: 65%;
    height: 25px;
    margin-bottom: 20px;
}

.div-footer {
    text-align: center;
    padding: 25px
}

.div-footer button {
    width: 100px;
    height: 30px;
    margin: 3px;
}

.guardar {
    color: #ffffff;
    background-color: #333333;
}

.cancelar {
    color: #ffffff;
    background-color: #808080;
}